<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="form.css">
</head>

<body>
	<h1 class="textfn">Form to add new products</h1>
	<form class="textfs" method="post" action="/form">
		Image Source<br/><input type="text" name="imageSource">
		<br/>
		<br/>
		Product Name<br/><input type="text" name="productname">
		<br/>
		<br/>
		Specifications<br/><input type="text" name="productspec">
		<br/>
		<br/>
		Price<br/><input type="text" name="price">
		<br/>
		<br/>
		<input type="submit" value="Submit">

	</form>




</body>
</html>