<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="pr3.css">
</head>
<body>
	<div class="container-fluid cf1">
			<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TechZone</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="laptops">Laptops</a></li>
      <li><a href="mobile">Phones</a></li>
      <li><a href="camera">Cameras</a></li>
      
    </ul>
  </div>
</nav>


		
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner mimg">

      <div class="item active">
        <img src="https://cdn0.vox-cdn.com/thumbor/Xjy7_6ixetO4CDZCS7-SDSibvT4=/0x1080/volume-assets.voxmedia.com/production/bf924a6eac673b71077b2bdce74ceca6/thumbnail_x.jpg" style="width:100%;">
        <div class="carousel-caption">
          <h3>Apple Iphone X</h3>
          <p>The future is here:Iphone X</p>

        </div>
      </div>

      <div class="item">
        <img class="mimg" src="https://cnet2.cbsistatic.com/img/HIqMI1s27-KmTv0aQk37hOzduog=/2017/09/19/846e7c35-31ed-4ca3-9e88-f4be76063f54/razerbladestealth.jpg" style="width:100%;">
        <div class="carousel-caption">
          <h3>Razer Blade Pro</h3>
          <p>An amazing laptop for E-Sports gaming and video development by one of the masters of the game:Razer</p>
        </div>
      </div>
    
      <div class="item">
        <img class="mimg" src="https://i.ytimg.com/vi/yPhMBSqyP9M/maxresdefault.jpg" style="width:100%;">
        <div class="carousel-caption">
          <h3>Canon EOS 5D Mark iv</h3>
          <p>One of the best DSLRs in the market right now.</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br/>
  <br/>
  <div class="row C1">
  	<div class="col-sm-2 wp">
  		<h1 class="ta">Best selling phones</h1>
  		<a href="mobile"><button class="btn btn-info col-sm-12 bt">View All</button></a>
  	</div>
  	<div class="col-sm-3">
  		<img src="https://rukminim1.flixcart.com/image/400/400/jhp5si80/mobile/q/z/b/vivo-x21-1725-1728-original-imaf5nnhzrjr9hnf.jpeg?q=70">
  		<h3>Vivo X21 (Black,128 Gb), Now:35990</h3>
  	</div>
  	<div class="col-sm-3">
  		<img src="https://rukminim1.flixcart.com/image/400/400/jhf5pjk0/mobile/c/w/g/motorola-moto-g6-play-na-original-imaf5gynytchq53f.jpeg?q=70">
  		<h3>Motorola Moto G6 (Indigo Black,32Gb), Now:1199</h3>
  	</div>
  	<div class="col-sm-3">
  		<img src="https://rukminim1.flixcart.com/image/400/400/jhz5vgw0/mobile/2/h/n/vivo-v9-vivo-1723-original-imaf5vftzhdzkykk.jpeg?q=70">
  		<h3>Vivo V9, Now:22990</h3>
  	</div>
  </div>
  <div class="row C1">
  	<div class="col-sm-3">
  		<img class="imgA" src="https://images-na.ssl-images-amazon.com/images/I/41x2qO0KEFL.jpg">
  		<h3>Dell XPS 13 (2017)</h3>
  		<p>One of the best laptops money can buy in 2017</p>
	</div>
	<div class="col-sm-3">
		<img class="imgA" src="https://images-na.ssl-images-amazon.com/images/I/41zyVzUp-oL.jpg">
		<h3>Lenovo Thinkpad X1 Carbon (2017)</h3>
		<p>Redefining Legacy</p>
	</div>
	<div class="col-sm-3">
		<img class="imgA" src="https://images-na.ssl-images-amazon.com/images/I/519VF9P7Y0L.jpg">
		<h3>MacBook Pro with Touch Bar (13-inch, Mid-2017)</h3>
		<p>A faster, but still divisive, MacBook Pro</p>
	</div>
	<div class="col-sm-2 wp ">
		<h1 class="ta">Best Laptops of 2017</h1>
		<a href="laptops"><button class="btn btn-info col-sm-12 bt">View All</button></a>
	</div>
</div>
<div class="row C1">
	<div class="col-sm-2 wp">
		<h1 class="ta">Best Cameras 2018</h1>
		<a href="camera"><button class="btn btn-info col-sm-12 bt">View All</button></a>
	</div>
	<div class="col-sm-3">
		<img class="imgA" src="https://images-na.ssl-images-amazon.com/images/I/41XtHOBvzzL.jpg">
		<h3>Nikon D850</h3>
		<p>High resolution meets high speed</p>
	</div>
	<div class="col-sm-3">
		<img class="imgA" src="https://images-na.ssl-images-amazon.com/images/I/81kdkmNj%2BCL._SL1500_.jpg">
		<h3>Sony Alpha A7 III</h3>
		<p>Sony's entry-level full-frame camera is a brilliant buy</p>
	</div>
	<div class="col-sm-3">
		<img class='imgA' src="https://images-na.ssl-images-amazon.com/images/I/71TkhVMtg6L._SL1500_.jpg">
		<h3>Nikon D3400</h3>
		<p>Not the most expensive entry-level DSLR, but we think it's the best</p>
	</div>
</div>
</div>







</body>
</html>
