.cf1{
	background-repeat: no-repeat;
	background-size: cover;

}
.ta{
	text-align: center;
	padding-top: 150px;
	color:white;
}
.C1{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
}
.adjust{
	position: fixed;
}

.imgA{
	width: 100%;
	height: 80%;
}
.wp{
	background-color : black;
	/*background-image: url("http://hd.wallpaperswide.com/thumbs/dark_pattern-t2.jpg");
*/	height:400px;
	margin-right: 60px;
	margin-left: 30px;
}
.bt{
	margin-top: 20px;
}